name: Release
on:
  push:
    tags: ['v*']

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
      - name: Install protoc
        run: |
          sudo apt-get update && sudo apt-get install -y protobuf-compiler
          protoc --version
      - run: cargo build --release
      - run: cargo test --lib
      - run: cargo publish -p corvo-client
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_TOKEN }}
      - run: cargo publish -p corvo-worker
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_TOKEN }}
